<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestion des Clients</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div> <!-- Inclusion du fragment d'en-tête -->

    <div th:replace="${contentTemplate}"></div> <!-- Inclusion du contenu spécifique de la page -->

    <div th:replace="fragments/footer :: footer"></div> <!-- Inclusion du fragment de pied de page -->
</div>

<!-- Script Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
